
@{
    ViewData["Title"] = "Feedback";
    Layout = "~/Views/_Layout.cshtml";
}

    <div class="d-container" style="width:70%; margin-left:auto; margin-right:auto;">
        <h1 style="margin-left: auto; margin-right:auto; ">Vaša recenzija je uspješno objavljena. Hvala Vam na izdvojenom vremenu!</h1>
    </div>

