
@{
    ViewData["Title"] = "ChangePasswordConfirmation";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="d-container" style="width:70%; margin-left:auto; margin-right:auto;">
    <h4>
        Vaša lozinka je uspješno promijenjena.
    </h4>
</div>

